*{
  font-family: "Inter", sans-serif;
}


.nav-icon{
  width: 165px;
  height: 48px;
  margin-left: 84px;
}
.nav-container{
  display: flex;
  justify-content: space-between;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.nav-menu li{
  list-style: none;
}
.navbar_link{
  font-size: 16px;
  color: #575757;
}
a{
  text-decoration: none;
}
nav .btn{
  margin-right: 119px;
}
nav .btn a{
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

}
nav .btn{
  background-color: #1D4ED8;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
}